body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  border-top: 7px solid white;
  background: #618675;
  background: linear-gradient(90deg,rgba(89, 128, 110, 1) 25%, rgba(97, 134, 117, 1) 50%, rgba(104, 139, 123, 1) 80%);
  padding: 20px 0;
  text-align: center;
  border-bottom: 7px solid white;
}


nav {
  background: #618675;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #618675;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
} 


.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #618675;
  color: #eed288;
  font-family:serif;
}
